name: {{ project_name }}
description: "This is a generated description for the {{ project_name }} project. Overwrite this with
a description of the project"
version: "1.0.0"

compile_path: "compiled"

models:
  dir: {{ models_dir }}
  analytics_projects:
    {{ analytics_project.name }}:
      target_connection: {{ analytics_project.target_connection }}
      layers:
          {{ analytics_project.layer_name }}: {{ analytics_project.layer_path }}

sources:
  warehouse:
    specifications: {{ sources.warehouse.specifications }}
    source_root: {{ sources.warehouse.source_root }}
  kafka:
    specifications: {{ sources.kafka.specifications }}
    source_root: {{ sources.kafka.source_root }}
    definitions: {{ sources.kafka.definitions }}
  source_db:
    specifications: {{ sources.source_db.specifications }}
    source_root: {{ sources.source_db.source_root }}

connection_profile:
  profile: dev
  path: connections.yml
