kafka-sources:
    - name: {{ example_kafka_source_name }}
      bootstrap:
        servers: "some_comma_seperated_list"
      connect:
        host: "some_connect_host"
        port: "some_connect_port"