[workspace]
resolver = "2"
members = [
    "crates/cli",
    "crates/ff_core",
    "crates/adapter_postgres",
    "crates/engine_df",
    "crates/parser",
    "crates/common",
]

[workspace.package]
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"

[workspace.dependencies]
# Common deps shared across crates
clap = { version = "4", features = ["derive"] }
petgraph = "0.6"
tracing = "0.1.41"
minijinja = "2.10.2"
serde = { version = "1.0", features = ["derive"] }
serde_yaml = "0.9"
common = { path = "crates/common"}
