name: {{ project_name }}
description: "This is a generated description for the {{ project_name }} project. Overwrite this with
a description of the project"
version: "1.0.0"

compile_path: "compiled"

paths:
  models:
    dir: {{ models_dir }}
    {%- if layers %}
    layers:
        {% for layer in layers -%}
        {{ layer.name }}: {{ layer.dir }}
        {% endfor -%}
    {%- endif %}
modelling_architecture: {{ modelling_arch }}
connection_profile: dev