name: {{ example_warehouse_source_name }}
database:
  name: some_database
  schemas:
    public:
      description: example schema for raw ingested data
      tables:
        raw_orders:
          columns:
            - name: order_id
            - name: customer_id
            - name: order_date
            - name: total_amount
        raw_customers:
          columns:
            - name: customer_id
            - name: first_name
            - name: last_name
            - name: email
