[package]
name = "test_utils"
version.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
once_cell = "1"
testcontainers = { version = "0.24.0" }
uuid = { version = "1.17.0", features = ["v4", "serde"] }

